body{overflow-x:hidden; background:#fff !important; font-family: 'Open Sans', sans-serif;}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,600italic,700,700italic,800);
/* header section */
.header-section{}
.header-section .top-nav{ background:#f67c3d; display:block; width:100%; min-height:40px;}
.header-section .top-nav span{display:inline-block;width: 26px;height: 24px; float:left;margin-right: 5px;}
.header-section .top-nav span.user{ background:url(../images/user.png) 0% 97% no-repeat;}
.header-section .top-nav span.login{ background:url(../images/login.png)  0% 0% no-repeat;}
.header-section .top-nav span.join-now{ background:url(../images/join-now.png)  0% 0% no-repeat;}
.header-section .top-nav ul{ list-style:none; margin:0 60px 0 0; padding:0;}
.header-section .top-nav ul li{ float:left; margin-left:15px; margin-right:15px; padding-top: 6px;}
.header-section .top-nav ul li a{ color:#fff; text-transform:uppercase; line-height:30px; text-decoration:none; outline:none;}
.header-section .top-nav ul li a:hover{}
.header-section .top-nav ul li a.active{}

.header-section .top-nav .top-search{margin-left:40px;}
.header-section .top-nav .top-search form{margin: 5px 30px;}
.header-section .top-nav .top-search form input[type="search"]{ width:80%; height:30px; border:solid 1px #e8e8e8; border-radius:4px; padding-left:15px; padding-right: 35px; font-size:18px; border:solid #e2e2e2;border-width: 4px 1px 1px 4px;border-radius: 6px;}
.header-section .top-nav .top-search form i{font-size: 18px; background:#363636; color:#fff; width:30px; height:30px; text-align:center;    margin-left: -5px; position:absolute; padding: 5px; border-radius:0 4px 4px 0;}

.header-section .logo{margin:10px 0 0 60px;}
.header-section .primery-nav{ background:#fff; display:block; width:100%;min-height: 90px;}
.header-section .primery-nav ul{list-style:none; margin:0 45px 0 0; padding:0;}
.header-section .primery-nav ul li{float:left; margin:8px 15px 15px;}
.header-section .primery-nav ul li a{color:#363636; text-transform:uppercase; text-decoration:none; outline:none;
	display: inline-block;}
.header-section .primery-nav ul li:hover a, .header-section .primery-nav ul li.current-menu-item a{color:#ff6913;}
.header-section .primery-nav ul li a span{display:block;width: 33px;height: 32px; margin:10px auto; background:url(../images/main-navigation.png) no-repeat;}
.header-section .primery-nav ul li:hover a span, .header-section .primery-nav ul li.current-menu-item a span{background:url(../images/main-navigation-hover.png) no-repeat;}
.header-section .primery-nav ul li.h-wrk a span{background-position:0% 0%;}
.header-section .primery-nav ul li.br-job a span{background-position:25% 0%}
.header-section .primery-nav ul li.prdct a span{background-position:50% 0%}
.header-section .primery-nav ul li.job a span{background-position:75% 0%}
.header-section .primery-nav ul li.cart a span{background-position:100% 0%;}

/* Banner Section */
.banner-section{}
.banner-section .banner{}
.banner-section .banner img{width:100%;}


/* search-section */
.search-section form{}
.search-section form .search-box{width:60%; margin: 0 auto;}
.search-section form#search-frm{ background:#3fbac2; min-height:100px;}
.search-section form#search-frm input{ width:87%; margin-top:30px; height:50px; border-radius:5px 0 0 05px; border:solid 2px #e8e8e8; border-bottom:none; font-size: 20px;font-style: italic; padding-left:15px; outline:none;}
.search-box span.larg{font-size:26px; color:#fff; width:13%; float:left; line-height:4; text-align:right; padding-right:10px;}
.search-section form#search-frm h3{ margin-top:40px; text-align:center; margin-right:20px;}
.search-section form#search-frm .btn-submit{height: 50px;margin-top: 7px;width: 50px; background:#f67c3d; border:2px solid #b0501e; border-left:0; border-top:0; outline:none;}
.search-section form#search-frm .btn-submit span{color:#fff;font-size: 200%;}

/* how-to-work  Section*/
.how-to-work{ border-bottom:solid 1px #e5e5e5;}
.how-to-work h2.title{text-align:center; color:#666666; text-transform:capitalize; font-size:300%; margin:60px 60px;}
.how-to-work p{ text-align:center; color:#666666;line-height: 35px;font-size: 22px;}

.how-to-work .watch-vedio{ margin:60px 60px;text-align: center;}
.how-to-work .watch-vedio .vedio-btn{ background:#f67c3d; padding:10px  30px; font-size:20px; color:#fff; border:solid 5px; border-color:transparent #b0501e #b0501e #e8e8e8; outline:none;}

/* big-icon Section */
.big-icon{background:#f6f6f6; padding:60px 60px;}
.big-icon .thik-border{ width:75%; height:10px; background:#f67c3d; margin:90px auto}
.big-icon .icon-holder img{ margin:0 auto;}
.big-icon .content{margin:50px auto 60px; text-align:center;}
.big-icon .content h3{ color:#666666;}
.big-icon .content p{ line-height:22px; width:100%; margin:20px auto 20px;font-size: 18px; color:#676767;}
/* Gallery Section */
/*
.gallery{}
.gallery .gallery-box{ width:25%; height:100%;position: relative; float:left;}
.gallery .thumb img{ width:100%;}
.gallery .thumb{}
.gallery .thumb:hover .overlay{visibility:visible; animation:alternate linear .4s hover-effect;}
.gallery .thumb .overlay{width:100%; height:100%; top:0; right:0; left:0; bottom:0; background:rgba(6,187,178,1.00);position: absolute;}
.gallery .thumb .overlay p{color:#fff; text-align:center; padding-top:30px;}
.gallery .thumb .overlay h3{margin-top:60px; padding:0px; text-align:center; background:#f67c3d; width:80%;height: 40px; line-height:40px; color:#fff;animation: alternate linear .4s hover-h3; animation-delay:.4s}
.gallery i{ background:url(../images/x.png) no-repeat 0% 90%;float: right;
position: absolute;left: 80%;height: 40px; width: 41px;top: 60px;}
*/
.gallery{}
.gallery .gallery-box{ width:50%; position:relative; float:left;}
.gallery .gallery-box .thumb{width:50%; position:relative; float:left; height:320px; overflow:hidden;}
.gallery .gallery-box .thumb img{width:100%; overflow:hidden; height: 100%;}
.gallery .gallery-box .thumb-content{width:50%; position:relative; float:left; background:#8bd0bd; height:320px;}
.gallery .thumb-content h3{margin-top:60px; padding:0px; text-align:center; background:#f67c3d; width:80%;height: 40px; line-height:40px; color:#fff;}
.gallery i{ background:url(../images/x.png) no-repeat 0% 90%;float: right;
position: absolute;left: 80%;height: 40px; width: 41px;top: 60px;}
.gallery .thumb-content p{ padding:40px; color:#f0f9f6; text-align:center; line-height:1.4; font-size:18px;font-weight: lighter;}

/*@keyframes hover-effect{
	0%{ transform:scale(0);}
	100%{ transform:scale(1);}
}
@keyframes hover-h3{
	0%{ opacity:0}
	100%{ opacity:1}
}*/

/* CLIENTS */
.clients{margin: 0 0 60px;}
.clients h2.title{text-align:center; margin:60px 0px 100px 00px; color:#666666; font-size:300%;}
.clients .list-group-item.box{border-width:2px;}
.clients .box{ text-align:center;}
.clients .box img{margin: -60px 0 0px; width:96px; height:96px; border-radius:50%;}
.clients .box h3.name{margin:10px 0; text-transform:uppercase; color:#40bac5;}
.clients .box p{line-height: 1.5; font-size: 16px; color:#666666; font-style:italic;}
.nav-right{float: right;}

/* page Section */
.content-body{padding-top:50px; padding-bottom:50px; background:#f6f6f6}

/* Side Bar */
.content-body.contact-us-page .sidebar{border:solid 1px transparent; background:#8bd0bd;}
.content-body .sidebar{background:#fff; border:solid 1px #e8e8e8;}
.sidebar ul{ list-style:none; padding:20px 20px;}
.sidebar ul li{ margin:10px 0 10px 0;width: 100%; line-height: 34px; color:#fff;}
.sidebar ul li span{ border:solid 1px #fff; border-radius:50%; text-align:center; display:table-cell; vertical-align:middle; width:34px; height:34px; color:#fff; font-size:20px; float:left; margin-right: 12px; line-height: 34px;}
.sidebar{ margin-left:30px;}
.post-a-job .sidebar{ margin-left:0px;}
.content-body .sidebar.contact-info{border:solid 1px transparent; background:#8bd0bd; margin-top:50px;}
.content-body .sidebar{background:#fff; border:solid 1px #e8e8e8;}
.sidebar ul{ list-style:none; padding:20px 20px;}
.sidebar ul li{ margin:10px 0 10px 0;width: 100%; line-height: 34px; color:#fff;}
.sidebar ul li span{ border:solid 1px #fff; border-radius:50%; text-align:center; display:table-cell; vertical-align:middle; width:34px; height:34px; color:#fff; font-size:20px; float:left; margin-right: 12px; line-height: 34px;}

.content-body .sidebar .sidebar-search{ padding:15px; width:100%;}
.content-body .sidebar .sidebar-search form input[type="search"]{ width:100%; height:40px; border:solid 1px #e8e8e8; border-radius:4px; padding-left:15px; padding-right: 35px; font-size:18px;}
.content-body .sidebar .sidebar-search form i{position:absolute;top: 23px; right: 40px;font-size: 22px; color:#030303;}
/* Recent Post sidebar */
.content-body .sidebar .recent-post ul{list-style:none;}
.content-body .sidebar .recent-post h2.title{text-transform:uppercase; font-weight:bold;font-size: 130%; color:#363636; padding-left:15px;}
.content-body .sidebar .recent-post ul li{margin:0;}
.content-body .sidebar .recent-post ul li a{color:#58c3cb; font-size:17px; text-decoration:none;}
/* Recent Post sidebar Comment */
.content-body .sidebar .recent-comment ul{list-style:none;}
.content-body .sidebar .recent-comment h2.title{text-transform:uppercase; font-size: 130%; font-weight:bold; color:#363636; padding-left:15px;}
.content-body .sidebar .recent-comment ul li{margin:0;line-height: 25px;}
.content-body .sidebar .recent-comment ul li a{color:#58c3cb; font-size:17px; text-decoration:none; color:#363636;}
.content-body .sidebar .recent-comment ul li span{ color:#444;margin-right:1px;}
/* catagories sideBar Comment */
.content-body .sidebar .catagory ul{list-style:url("../images/list-style.png"); padding-left:35px;}
.content-body .sidebar .catagory h2.title{text-transform:uppercase; font-weight:bold; color:#363636; padding-left:15px;font-size: 130%;}
.content-body .sidebar .catagory ul li{margin:0;line-height: 35px;}
.content-body .sidebar .catagory ul li a{color:#58c3cb; text-decoration:none; color:#363636; text-transform:capitalize;}
/*Recomanded Post*/
.content-body.blog-details .content.footer-content{ margin-top:40px; padding-bottom:40px; display: inline-block; width:100%;}
.content-body.blog-details .content.footer-content .blog-title h2.title{color:#333; text-transform:uppercase; font-weight:bold; font-size:150%;padding-left:15px;}
.content-body.blog-details .content.footer-content .recom-post .post{border:solid 1px #e8e8e8; -webkit-box-shadow: 2px 4px 5px -2px rgba(0,0,0,0.3);-moz-box-shadow: 2px 4px 5px -2px rgba(0,0,0,0.3);box-shadow: 2px 4px 5px -2px rgba(0,0,0,0.3);}
.content-body.blog-details .content.footer-content .recom-post .thumb-content{ padding-bottom:20px;}
.content-body.blog-details .content.footer-content .recom-post .thumb-content p{margin:0 0 20px 0; text-transform:capitalize; color:#363636; padding-bottom:20px; border:none; padding:0px 6px 0px 7px;}
.content-body.blog-details .content.footer-content .recom-post .thumb-content a{ color:#f87c32; text-decoration:none; padding:0px 6px 0px 7px;}
.content-body.blog-details .content.footer-content .recom-post .thumb h3.title{position:absolute; top:30px; background:#f67b3f; width:50%; padding:7px 10px; color:#fff; font-size:150%; height:40px;}
.content-body.blog-details .content.footer-content .recom-post .thumb span{ background:url(../images/x.png) no-repeat;    width: 30px;height: 40px;position: absolute;top: 30px;right: 38%;}
.content-body.blog-details .content.footer-content .recom-post .thumb-content h4.title{ color:#3fb9c4; text-transform:capitalize; font-size: 150%; padding:0px 6px 0px 7px;}
/* contact Form */
.contact-frm{ border:solid 1px #e8e8e8; background:#fff; padding-bottom:40px;}
.contact-frm h2.title{border-bottom:1px solid #E5E5E5; padding-top:30px; padding-bottom:20px;}
.contact-frm form{display: inline-block; margin-top:30px; padding-left:15px; width: 100%;}
.contact-frm form input[type="text"],
.contact-frm form input[type="tel"],
.contact-frm form input[type="email"],
.contact-frm form input[type="number"],
.contact-frm form input[type="password"],
.contact-frm form textarea,  .contact-frm form select{border:solid 1px #e8e8e8; margin:10px 0 10px 0; width:60%; border-radius:3px; padding-left:15px; background:transparent;}
.contact-frm form input[type="text"],
.contact-frm form input[type="tel"],
.contact-frm form input[type="email"],
.contact-frm form input[type="number"],
.contact-frm form input[type="password"],
.contact-frm form select{height:40px;}
form input[type="submit"]{margin: 30px 0px 30px 0; background: #f67c3d;padding: 10px 20px;font-size: 20px;color: #fff;border: solid 2px;border-color: transparent #b0501e #b0501e #e8e8e8;outline: none; border-left:none; text-transform:capitalize; border-radius: 4px;}
/*.contact-frm form input[type="checkbox"]{margin-left: 25%;}*/
.contact-frm form .input-box.btn-submit{ border-bottom:1px solid #e8e8e8; margin-right:15px; padding-bottom:20px;}
.contact-frm form b{position: absolute;margin:6px 10px; text-transform:capitalize;}
.contact-frm form label{ width:25%; float:left; color:#363636; line-height: 55px;}
/* Ragistraion Page */
.content-body.registration .page-main-title h2.title{ text-align:center; border:none; text-transform:capitalize;}
.content-body.registration .contact-frm form label{ width:20%;}
.content-body.registration .contact-frm form select option{text-transform:capitalize;}
.content-body.registration .contact-frm form .input-box.end-section{ border-bottom:1px solid #e8e8e8; margin-right:15px; padding-bottom:30px;}
.content-body.registration .contact-frm form .input-box.second-section{ padding-top:30px;}
/*.content-body.registration .contact-frm form input[type="checkbox"]{ margin-left:15%;}
.content-body.registration .contact-frm form input[type="submit"]{ margin-left:15%;}*/
/* main Body */
.input-box{ display:block;overflow:hidden;}
.content-body{}
.content-body h2.title{ width:100%; border-bottom:1px solid #e8e8e8; padding-bottom:20px; color:#363636}
.content-body .content{ padding:20px; background:#fff; border:solid 1px #e8e8e8;}
.content-body .content p{ line-height:25px; font-size:17px; color:#363636; font-weight:lighter; margin-top:50px; border-bottom:1px solid #e8e8e8; padding-bottom:30px;}

/* blog page */
.blog-page-image{}
.content-body.blog-details h2.title{ color:#3fbac2; border:none;}
.content-body.blog-details .author-deatils{width:100%; inline-block; font-size:18px;}
.content-body.blog-details .author-deatils span{margin-right:6px;}
.content-body.blog-details .author-deatils .author{ width:30%; float:left;}
.content-body.blog-details .author-deatils .date{ width:40%; float:left;}
.content-body.blog-details .author-deatils .place{ width:30%; float:left;}
.tags{display: inline-block; width:100%; position:relative; padding-top: 20px;}
.tags span{ float:left; line-height:45px;}
.tags ul{ list-style:none;}
.tags ul li{ float:left; padding:5px; margin:10px 5px 0 5px; background:#f3f3f3; border:solid 1px #e8e8e8; border-radius:3px;}
/*side navigation*/
.content-body.dashbord{}
.content-body.dashbord nav{ border:none;}
.content-body.dashbord nav ul{ margin:0; padding:0; list-style:none;}
.content-body.dashbord nav ul li{  height:50px; text-align:left; padding-left:20px;width: 90%; margin-top:10px;}
.content-body.dashbord nav ul li a{font-size:15px; text-transform:capitalize; color:#353535;text-decoration:none;width: 100%;padding: 12px;display: inline-block; line-height: 2;  border-bottom:1px solid #e8e8e8; position:absolute;}
.content-body.dashbord nav ul li.active, .content-body.dashbord nav ul li:hover{background:#f67c3d;display: inline-block;color:#fff; border-radius:6px;}
.content-body.dashbord nav ul li.active a, .content-body.dashbord nav ul li:hover a{color:#fff; width:100%;position:absolute; outline:none;}

.content-body.dashbord nav ul li.active a span,
 .content-body.dashbord nav ul li:hover a span{background:url(../images/sprite-hover.png) no-repeat;}
.content-body.dashbord nav ul li a span{width:40px; height:28px; display:inline-block; float: left; background:url(../images/sprite.png) no-repeat; }
.content-body.dashbord nav ul li a span.profile{}
.content-body.dashbord nav ul li a span.notification{background-position: 0% 6.5%;}
.content-body.dashbord nav ul li a span.my-self{ background-position: 0% 15%;}
.content-body.dashbord nav ul li a span.location{ background-position: 0% 22%;}
.content-body.dashbord nav ul li a span.social-profiles{background-position: 0% 29%;}
.content-body.dashbord nav ul li a span.diary{ background-position: 0% 36%;}
.content-body.dashbord nav ul li a span.documents{ background-position: 0% 43%;}
.content-body.dashbord nav ul li a span.posted-job{ background-position: 0% 51%;}
.content-body.dashbord nav ul li a span.proposals{ background-position: 0% 59%;}
.content-body.dashbord nav ul li a span.awarderd-job{ background-position: 0% 65%;}
.content-body.dashbord nav ul li a span.massage{background-position: 0% 72%;}
.content-body.dashbord nav ul li a span.ratings{background-position: 0% 79%;}
.content-body.dashbord nav ul li a span.orders{background-position: 0% 85%;}
.content-body.dashbord nav ul li a span.transaction{background-position: 0% 93%;}
.content-body.dashbord nav ul li a span.sing-out{background-position: 0% 100%;}

.content-body.dashbord{}
.content-body.dashbord.customer-dashbord .content { min-height:1000px;}
.content-body.dashbord .content-head{border-bottom: 1px solid #e8e8e8; display:inline-block; width:100%;}
.content-body.dashbord .content-head h2.title{ border:none; text-transform:capitalize;}
.content-body.dashbord .content-head .btn-edit{background:#f67c3d;border: solid 2px; border-color: transparent #b0501e #b0501e #e8e8e8;outline: none;border-left: none;text-transform: capitalize; color:#fff; border-radius:4px;}
.content-body.dashbord .contact-frm{border:none;}
.content-body.dashbord .contact-frm label{ font-size:18px; color:#5f5f5f; text-transform:capitalize;font-weight:normal;}
.content-body.dashbord .contact-frm .end-section{ border-top: 1px solid #e8e8e8; border-bottom:none;bottom: 0;position: absolute;left: 0;
right: 0;margin: 0 auto;}


.customer-dashbord button.btn-upload{bottom:18px; top:auto;}
.customer-dashbord button.btn-upload, .provider-dashbord button.btn-upload{left: 38%}
.customer-dashbord form, .provider-dashbord form{margin-top:30px;}
.customer-dashbord form label, .provider-dashbord form label{width:25%; float:left;}
.customer-dashbord form input, .provider-dashbord form input{float:left;}
label.sub-label{ text-align:right; position:relative; margin-top:30px; font-weight:normal;width: 35% !important;}
.customer-dashbord form input[type="file"]{}
small.imgae-format{width: 100%; text-align: center;display: inline-block;margin-left: -30px;}
.customer-dashbord form textarea, .provider-dashbord form textarea{float: left;width: 70%;position: relative;}
.customer-dashbord .input-box, .provider-dashbord .input-box{margin:20px 0 20px;}
.customer-dashbord .input-box:nth-last-child(1), .provider-dashbord .input-box:nth-last-child(1){border-top:solid 1px #e8e8e8; margin-top:50px;    position: absolute;bottom: 0; width: 95%;}


.profile-img{ float:left; width:40%; text-align: center; position: relative;}
.profile-img img{max-width: 225px; max-height: 225px;}

/*providers dashbord*/
.content-body.dashbord.providers-dashbord .content { min-height:1300px;}
/*post a job*/
.content-body.post-a-job .contact-frm{border:solid 1px #e8e8e8;}
.dollar input[type="text"]{width:13% !important; float:left;    border-width: 4px 1px 1px 4px !important;border-radius: 6px !important;}
.content-body.post-a-job .contact-frm form em, .content-body.post-a-job .contact-frm form strong{float:left; padding:10px; line-height:2.4;padding-left: 0;}
.content-body.post-a-job .contact-frm form em{padding-left: 10px; font-style: normal;}
.content-body.post-a-job .contact-frm form strong{color:#f87c32; font-family: cursive;}
.content-body.post-a-job .contact-frm form .attachment{ margin-left:23%;}
.content-body.post-a-job .contact-frm form .attachment strong{ font-size:20px;}
.content-body.post-a-job .contact-frm form .attachment strong span{margin-right:10px; font-size:24px;}
form input[type="file"]{ border:none; margin-top:20px; background: transparent; opacity:0; width:170px; cursor:pointer;    padding: 10px 20px;}
.post-a-job .contact-frm .attachment .btn-upload{top: 9px;}
.content-body.post-a-job .contact-frm form .attachment small{text-align:center; color:#ADADAD}
button.btn-upload{position: absolute; top: 18px;right: 0;left: 180px; padding: 12px 30px; cursor:pointer;background: #f67c3d;font-size: 20px;color: #fff;border: solid 2px;border-color: transparent #b0501e #b0501e #e8e8e8;outline: none;border-left: none;text-transform: capitalize; border-radius:4px;}
.contact-frm form select{text-transform:capitalize;}
.content-body.post-a-job .contact-frm form .input-box:nth-last-child(1){ border-top:solid 1px #e8e8e8; margin-top:30px;width: 98%;}
.content-body.post-a-job form input[type="submit"]{margin-left: 25%;}
.content-body.post-a-job .with-errors{margin-left: 25%;}
.attachment{position:relative;}
small.f-left{line-height: 6; color:#999999;}
.user-registration form input[type="file"]{ float:left;}

/*login*/
.login-box{ width:70%; margin:0 auto; text-align:center;}
.login-box h2.title{text-align:left;}
.login-box form{margin-top:30px;}
.login-box form input{width:70%; height:40px; padding-left:15px; margin-top:30px;}
.login-box form input[type="submit"]{width: auto; padding:10px 20px;height: 50px; margin-left:0; margin-top:0px;}
/*user sing up and login*/
.content-body.sing-login .normal h2.title{ text-align:center; border:none; color:#363636;}
.content-body.sing-login .img-or{text-align:center;}
.content-body.sing-login .c-box{text-align:center; border:solid 1px #BFBFBF; padding-bottom:40px; padding-top:40px; background:#fff;}
.content-body.sing-login .c-box .descrption{padding-top:30px; padding-bottom:30px;}
.content-body.sing-login .c-box .descrption h2.title{ border:none; padding:0; color:#363636; font-weight:lighter;}
.btn-work{font-size: 20px;margin-top: 30px;background: #f67c3d;padding: 10px;font-size: 20px;color: #fff;border: solid 2px;border-color: transparent #b0501e #b0501e #e8e8e8;outline: none;border-left: none;text-transform: capitalize; letter-spacing:1px;}
form input[type="checkbox"]{ width:20px; -webkit-appearance:none; border:none; height: 20px; float: left; background:url(../images/checkbox.png) no-repeat; outline:none; box-shadow:none; -moz-appearance:none;}
form input[type="checkbox"]:checked {background:url(../images/checkbox.png) no-repeat 0% 100%;}
.login-box form .input-box b{float:left; line-height: 5.3; margin-left: 10px;}
.btn-work:hover{ color:#fff !important;}
.c-box .btn-work{padding:5px 35px;}
/*Job Listing*/
.filter-section{width:100%; background:#fff; border:solid 1px #e8e8e8; display:inline-block;}
.filter-tab{ width:20%; float:left; border-right:solid 1px #e8e8e8; height:45px; position:relative; padding: 5px;}
.filter-tab label{width:35%; float:left; line-height:3; text-transform:uppercase; font-size:12px;}
.filter-tab p{line-height:2;}
.filter-tab input, .filter-tab select{width:60%; height:34px; border-radius:0; padding-right:20px;}
.filter-tab select{-moz-appearance:none; -webkit-appearance:none; border: 1px solid #ccc;}
.filter-tab i{position:absolute;right: 20px;top: 7px; padding: 5px;}
.filter-tab:nth-last-child(1){width:8%; border-right:none;}
.filter-tab.adv-filter{width:12%; text-align:center;}
.filter-tab a{border:solid 1px #eaeaea; padding:4px; border-radius:50%; width:24px; height:24px; display:inline-block; text-align: center; margin-top:6px; color:#eaeaea;}
.filter-tab a:hover{text-decoration:none; color:#333; border-color:#333;}
.job-listing .content{margin-top:50px;}
.job-listing .content h3.title{ color:#3fbac3;}
.job-listing .content .normal{margin-top:30px;}
.job-listing .content figure img{border-radius:50%; width:124px; height:124px;}
.job-author-name{width:60%; float:left;}
.job-author-name b{color:#3fbac3; font-size:18px; line-height:2;}
.job-location b{line-height:2.5;}
i.location{width: 30px; height: 28px;display: inline-block;float: left;background: url(../images/sprite.png) no-repeat 0% 22%;}
.clock{width: 30px; height: 28px;display: inline-block;float: left;background:url(../images/others-icon.png) no-repeat 0% 0%;}
.rating{line-height:2;}
.rating em{padding:3px 10px; background:#f67c3d; border-radius:5px; color:#fff;}
.rating span{color:#f67c3d;}
.date b{font-size:13px; line-height:2;}
.budget b{font-size:13px; line-height:2;}
.budget b span{color:#f67c3d;}
.dollar-tag{width: 30px; height: 28px;display: inline-block;float: left;background:url(../images/others-icon.png) no-repeat 13% 0%;}
.dollar .help-block{margin-bottom: 0; margin-top: 0;}
.job-listing .content p{border:none;}
.job-listing .tags ul li{ font-size:12px;}
.job-details{ padding-bottom:30px; border-bottom:solid 1px #e8e8e8; padding-top:30px;}
.job-listing .btn-work{ margin:0; padding: 5px 15px;}
.job-details h3.title{color:#3fbac3;}

.paginatioon{ width:300px; margin:0 auto; position:relative;}
.paginatioon ul{ list-style:none; width:100%; margin-top:30px; text-align:center;display: inline-block;
}
.paginatioon ul li{ float:left; margin: 0 5px;  padding:3px 5px;}
.paginatioon ul li.active{ background:#f87c32;}
.paginatioon ul li.active a{color:#fff;}
.paginatioon ul li a{color:#666;  padding:3px 5px; text-decoration:none; text-align:center; font-size:20px;}
.paginatioon ul li a:hover{}
.paginatioon span{ position:absolute; top:32px; right:0; font-size:20px; color:#000; font-weight:bold;}

.sugested-prduct{}
.sidebar h3.title{ text-transform:uppercase; padding:15px; margin:20px 0 20px; font-size:140%; font-weight:bold;}
.sugested-prduct a{ color:#3fbac3; text-align:center;display: block; margin: 10px 0; font-size:18px;}
.sugested-prduct a:hover{ text-decoration:none;}
.product-img{text-align:center;}
.sidebar .rating{text-align:center; padding-bottom:20px;}

.job-detail-page .job-author-name{float:none;}
.content-body.job-detail-page .content p{border:none;}
.content-body.job-detail-page .attachment{position:relative;}
.content-body.job-detail-page .attachment i{font-size:22px; color:#f9a174;}
.content-body.job-detail-page .attachment span{ font-size:18px; padding-left:10px; color:#f9a174;}
.job-detail-page .content .normal{margin-top: 30px;}
.submit-proposal label.cover-letter{ color:#363636; display:block; clear:both; padding:15px; margin-top:20px; font-size:20px; font-weight:normal;}
.submit-proposal form label{float:left; text-transform:capitalize;line-height:2;}
.submit-proposal form .attachment label span.fa{padding-right:10px; font-size:22px;}
.submit-proposal form input, .submit-proposal form textarea{ width:90%; margin: 0 auto; border-radius:2px; padding-left:15px;}
.submit-proposal input[type="file"]{ width:150px; height:45px;}
.submit-proposal .attachment small{display:inline-block; float:none; clear:both; padding-left:15px; color:#999999; border-bottom:solid 1px #e8e8e8; padding-bottom:30px; position:relative;}
.submit-proposal .attachment .btn-upload{top:20px; width:auto;}
.submit-proposal .attachment{padding-top:30px; padding-bottom:30px; width:100%; margin:0 auto;}
.submit-proposal label small{display:block;  color:#999999; font-weight:normal; position:absolute;}
.dollar strong{float: left;padding: 5px;color: #f87c32;font-family: cursive; line-height:2;}
.submit-proposal form .dollar label{float:left; width:60%; line-height:1.3;}
.submit-proposal .dollar input[type="text"]{ padding-left:10px; width:30%; height:37px; border:solid #e2e2e2; border-width:3px 1px 1px 3px; border-radius:6px;}
h4.title b{color:#f87c32;}
.submit-proposal form input[type="submit"]{ width:auto; margin: 30px 0; border-radius:6px;}
.submit-proposal form .input-box:nth-last-child(1) {border-top: solid 1px #e8e8e8;margin-top: 30px}
input:focus{ outline:none;}
a:hover{text-decoration:none !important;}
.product-details-page .product-details .button .btn-work{margin-top:5px;clear: both; padding: 7px 15px;}
.cart{ background:url(../images/add-cart.png) no-repeat; float: left; width:52px; height:21px;display: inline-block; margin-right:4px;}
h3.price{color:#f87c32; font-weight:bold; margin-top:10px;}
h3.price span{color:#363636; font-weight:500;}
h3.price b{color:#f87c32; padding-left:10px; font-size:16px;vertical-align: top;}
.job-location{display: inline-block;}
.content-body.product-details-page .content p{margin:0; border:none;}
.content-body.product-details-page h3.title{ color:#3fbac3; margin-bottom:10px;}
.product-details .job-author-name p{color:#363636; padding:0;}
.product-details span.user{ background:url(../images/user.png) 0% 0% no-repeat;display: inline-block;width: 26px;height: 24px;float: left;margin-right: 5px;}
.product-details-page .normal .content{margin-top:50px;}
.product-details{border-bottom: 1px solid #e8e8e8;padding-bottom: 30px;padding-top: 30px;}
.product-details img{width:100%;}
.product-details-page .tab-content{display:inline-block; border:solid 1px #ddd; border-top:none;}
.product-details-page .tab-content .tab-pane{padding:20px;}
.product-details-page nav{margin-top:50px;}
.product-details .social{ min-height:60px;text-align: center; padding: 15px 15px;}
.product-details .social a{ text-align:center; color:#fff;}
.product-details .social a span{  background:#3fbac2; border-radius:50%; width:30px; height:30px; padding:7px;}

.wpcf7-form-control-wrap span{margin-left:25%;}
.contact-frm .has-feedback .form-control{padding-right:0; padding-left: 15px;}
.content-body.dashbord .with-errors{ display: inline-block; margin-left: 25%;}
.with-errors.error{display: block;width: 100%;clear: both; margin-left:20%; padding-top: 10px;}
.login-page .text-left{ text-align: left;display: block;}
/* switch button */
.switch {position: relative;display: block;vertical-align: top;width: 60px;height: 30px;padding: 3px;margin: 0 10px 10px 0;border-radius: 18px;cursor: pointer;float: left; margin-top:8px;}
.switch-input {position: absolute;top: 0;left: 0;opacity: 0;}
.switch-label {position: relative;display: block;height: inherit;font-size: 10px;text-transform: uppercase;background: #e8e8e8;border-radius: inherit;}
.switch-label:before, .switch-label:after {position: absolute;top: 50%;margin-top: -.5em;line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;transition: inherit;}
.switch-label:before {content: attr(data-off);right: 11px;color: #aaaaaa;text-shadow: 0 1px rgba(255, 255, 255, 0.5);}
.switch-label:after {content: attr(data-on);left: 11px;color: #FFFFFF;opacity: 0;}
.switch-input:checked ~ .switch-label {background: #f67c3d;}
.switch-input:checked ~ .switch-label:before {opacity: 0;}
.switch-input:checked ~ .switch-label:after {opacity: 1;}
.switch-handle {position: absolute;top: 1px;left: 7px;width: 25px;height: 25px;background:  transparent;border-radius: 100%;font-size: 20px; color:#fff;}
.switch-handle:before {
	content: "\f056";position: absolute;top: 50%;left: 50%;margin: -6px 0 0 -6px;width: 12px;height: 12px;border-radius: 6px;}
.switch-input:checked ~ .switch-handle {left: 27px;}

/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s linear;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
.content-body .content #notification p{ border:none; margin-top:10px;}
/* footer */
.footer-section{}
.footer-section .social{ min-height:60px; background:#3fbac2;text-align: center; padding: 15px 15px;}
.footer-section .social a{ text-align:center; color:#3fb9c4;}
.footer-section .social a span{ background:#fff; border-radius:50%; width:30px; height:30px; padding:7px;}

.footer-section .footer-nav{margin: 24px 0;}
.footer-section .footer-nav ul{ margin:0; padding:0; list-style:none;}
.footer-section .footer-nav ul li{ float:left; margin:10px 0 10px;}
.footer-section .footer-nav ul li a{ text-decoration:none; text-transform:capitalize; color:#666666; font-size:17px; border-right: 1px solid #666666;padding: 0px 7px 0px;}
.footer-section .footer-nav ul li:nth-last-child(1) a{border-right: 1px solid transparent;}
.footer-section .footer-nav ul li a:hover{}
.footer-section .footer-nav ul li:nth-child(1) a{padding-left:0;}

.footer-section .footer-nav .copyright{margin-top: 10px; text-align:left; font-size:17px;color:#666666; width: 100%;display: inline-block;}
.footer-section .payment{text-align:right; margin: 24px 0;}
.footer-section .payment a{ padding:0 4px;}
.footer-section .payment a:nth-last-child(1){padding:0;}

.back-to-top{text-align:right; margin:0 10px 10px 0}
.back-to-top a img{border-radius:4px; }



/* Responsive */
@media (max-width:991px){
	.gallery .gallery-box{width:50%;}
	.header-section .logo img{margin: 0 auto;}
	.nav-right{float: none; width:100%;}
	.nav-right ul{margin: 0 auto;}
	.list-group-item.box{margin:60px 0;}
	.big-icon .thik-border{display:none;}
	.gallery .thumb .overlay p{padding:20px;}
	.footer-section .payment{text-align:center;}
	.gallery .gallery-box{width:100%;}
	.search-section form .search-box{width:80%;}
	.header-section .primery-nav ul li{margin: 6px 30px 15px;}
}
@media (max-width:768px){
	.gallery .gallery-box{width:100%; float:none; clear:both;}
	.big-icon .thik-border{/* width:10px; height: 1200px; background:#f67c3d; margin:90px auto;*/ display:none;}
	
	/* for mobile menu */
	#navigaition{}
	#navigaition ul{position:fixed; left:0; right:0; top:0px; bottom:0; background:#fff; width:100%; z-index:9999;display: inline-table; height:100%; display:none;}
	#navigaition nav button#hide-nav{position: fixed; z-index: 999999;top: 39px; display:none;}
	#navigaition ul li{margin: 8px 15px 15px;width: 27%;border: solid 1px #f67c3d;text-align: center;height: 121px;position: relative;}
	#navigaition button#btn-s-nav{ margin:8px 0 0 40px; height: 50px;width: 75px; outline:none; display:block !important;background:#f67c3d; border:none; color:#fff;}
	#navigaition nav button#hide-nav{margin:8px 0 0 40px; height: 50px;width: 75px; outline:none; background:#f67c3d; border:none; color:#fff;}
	.header-section .primery-nav{min-height:auto;}
	a.on-mobile{position:fixed; z-index: 999999;top:35px; left:35px;  animation:showing-nav linear .3s alternate;}
	.gallery .gallery-box .thumb-content, .gallery .gallery-box .thumb{width:100%; height:350px;}
	.search-box span.larg{display:none;}
	.search-section form#search-frm input{width:100%;}
	.search-section form#search-frm .btn-submit{margin-top:30px;}
	.contact-frm form label, .content-body.registration .contact-frm form label{width:100%; display:block; line-height: normal;}
	.contact-frm form input[type="text"],
	.contact-frm form input[type="tel"],
	.contact-frm form input[type="email"],
	.contact-frm form input[type="number"],
	.contact-frm form input[type="password"], .contact-frm form textarea,  .contact-frm form select{width:90%;}
/*	.content-body.registration .contact-frm form input[type="checkbox"], .content-body.registration .contact-frm form input[type="submit"]{margin:0;}*/
	.contact-frm form .input-box, .sidebar{margin-top:15px;}
	.contact-frm form b{margin: 0px 10px;}
	.login-box{width:90%;}
	.login-box form input{width:100%;}
	form input[type="checkbox"]{width: 20px;}
	.content-body.dashbord .with-errors{ display: inline-block; margin-left:0;width: 100%;}
/*	.end-section{padding-left: 30px;}*/
	.contact-frm form b{position: relative;}
	.with-errors.error{margin-left: 0;}
	.content-body.registration .contact-frm form .input-box.end-section{margin-right: 0;}
	.select2-container {width: 90%;}
	.content-body.post-a-job .with-errors, .content-body.post-a-job .contact-frm form .attachment{margin-left: 0;}
	.tp-caption .btn-work{margin-top: 0; margin-left: -60px;}
}
@keyframes showing-nav{
0%{ left:200%}
75%{ transform:scale(.9); transform:rotate(3deg); left:0;}
100%{ transform:scale(1); transform:rotate(-3deg);}	
}
@media (max-width:480px){
	.header-section .top-nav ul{margin: 0 25px 0 0;}
}

@media (max-width:360px){
	.header-section .top-nav ul li{margin-left: 8px;margin-right: 7px;}
	.header-section .top-nav ul{padding: 0 0 0 30px; margin:0;}
	#navigaition ul li{width: 38%;border: solid;text-align: center;height: 116px;position: relative;}
	#navigaition ul.show-nav{padding-top: 80px;}
	#navigaition button#btn-s-nav, #navigaition nav button#hide-nav{margin: 5px 0 0 40px; height: 41px; width:50px;}
}
/*   Extra   */
.padd0{padding:0;}
.normal{width:100%; display:inline-block;}
star{color:#f67c3d;font-size: 20px;}
a.on-mobile{display:none;}
a.on-mobile img{width:70%;}
#navigaition nav button#hide-nav,  #navigaition button#btn-s-nav{display:none;}
#navigaition ul.show-nav{ display:block; animation:showing-nav linear .3s alternate; padding-top: 100px;}
#navigaition ul.hiding-nav{display:none; animation:showing-nav linear .3s alternate;}
.showmsg {
    animation: ani .78s linear;
    display:block;
}
@keyframes ani{
    0%{top: -1000px;}
    100%{top: 0px;}
}
.contact-frm > .has-feedback > .form-control{padding: 0;}

.slider.slider-horizontal{width:60% !important; margin-top:10px;}
.slider.slider-horizontal .slider-track{background:#999;}
.slider-selection{background:#666 !important;}
