body{overflow-x:hidden; background:#fff !important;}
/* header section */
.header-section{}
.header-section .top-nav{ background:#f67c3d; display:block; width:100%; min-height:40px;}
.header-section .top-nav span{display:inline-block;width: 26px;height: 24px; float:left;margin-right: 5px;}
.header-section .top-nav span.user{ background:url(../images/user.png) 0% 0% no-repeat;}
.header-section .top-nav span.login{ background:url(../images/login.png)  0% 0% no-repeat;}
.header-section .top-nav span.join-now{ background:url(../images/join-now.png)  0% 0% no-repeat;}
.header-section .top-nav ul{ list-style:none; margin:0 60px 0 0; padding:0;}
.header-section .top-nav ul li{ float:left; margin-left:15px; margin-right:15px; padding-top: 6px;}
.header-section .top-nav ul li a{ color:#fff; text-transform:uppercase; line-height:30px; text-decoration:none; outline:none;}
.header-section .top-nav ul li a:hover{}
.header-section .top-nav ul li a.active{}

.header-section .logo{margin:0 0 0 60px;}
.header-section .primery-nav{ background:#fff; display:block; width:100%;min-height: 90px;}
.header-section .primery-nav ul{list-style:none; margin:0 36px 0 0; padding:0;}
.header-section .primery-nav ul li{float:left; margin:8px 15px 15px;}
.header-section .primery-nav ul li a{color:#363636; text-transform:uppercase; text-decoration:none; outline:none;}
.header-section .primery-nav ul li a span{display:block;width: 33px;height: 32px; margin:10px auto;}
.header-section .primery-nav ul li a span.h-wrk{background:url(../images/h-wrk.png) 0% 0% no-repeat}
.header-section .primery-nav ul li a span.br-job{background:url(../images/brws-job.png) 0% 0% no-repeat}
.header-section .primery-nav ul li a span.prdct{background:url(../images/product.png) 0% 0% no-repeat}
.header-section .primery-nav ul li a span.job{background:url(../images/job.png) 0% 0% no-repeat}
.header-section .primery-nav ul li a span.cart{background:url(../images/cart.png) 0% 0% no-repeat}

/* Banner Section */
.banner-section{}
.banner-section .banner{}
.banner-section .banner img{width:100%;}

/* search-section */
.search-section form{}
.search-section form .search-box{width:60%; margin: 0 auto;}
.search-section form#search-frm{ background:#3fbac2; min-height:100px;}
.search-section form#search-frm input{ width:80%; margin-top:30px; height:50px; border-radius:5px 0 0 05px; border:solid 2px #e8e8e8; border-bottom:none; font-size: 20px;font-style: italic; padding-left:15px; outline:none;}
.search-box span.larg{font-size:26px; color:#fff; width:20%; float:left; line-height:4; text-align:right; padding-right:10px;}
.search-section form#search-frm h3{ margin-top:40px; text-align:center; margin-right:20px;}
.search-section form#search-frm .btn-submit{height: 50px;margin-top: 7px;width: 50px; background:#f67c3d; border:2px solid #b0501e; border-left:0; border-top:0; outline:none;}
.search-section form#search-frm .btn-submit span{color:#fff;font-size: 200%;}

/* how-to-work  Section*/
.how-to-work{ border-bottom:solid 1px #e5e5e5;}
.how-to-work h2.title{text-align:center; color:#666666; text-transform:capitalize; font-size:300%; margin:60px 60px;}
.how-to-work p{ text-align:center; color:#666666;line-height: 35px;font-size: 22px;}

.how-to-work .watch-vedio{ margin:60px 60px;text-align: center;}
.how-to-work .watch-vedio button.vedio-btn{ width:180px; background:#f67c3d; padding:10px; font-size:20px; color:#fff; border:solid 5px; border-color:transparent #b0501e #b0501e #e8e8e8; outline:none;}

/* big-icon Section */
.big-icon{background:#f6f6f6; padding:60px 60px;}
.big-icon .thik-border{ width:75%; height:10px; background:#f67c3d; margin:90px auto}
.big-icon .icon-holder img{ margin:0 auto;}
.big-icon .content{margin:50px auto 60px; text-align:center;}
.big-icon .content h3{ color:#666666;}
.big-icon .content p{ line-height:22px; width:100%; margin:20px auto 20px;font-size: 18px; color:#676767;}
/* Gallery Section */
/*
.gallery{}
.gallery .gallery-box{ width:25%; height:100%;position: relative; float:left;}
.gallery .thumb img{ width:100%;}
.gallery .thumb{}
.gallery .thumb:hover .overlay{visibility:visible; animation:alternate linear .4s hover-effect;}
.gallery .thumb .overlay{width:100%; height:100%; top:0; right:0; left:0; bottom:0; background:rgba(6,187,178,1.00);position: absolute;}
.gallery .thumb .overlay p{color:#fff; text-align:center; padding-top:30px;}
.gallery .thumb .overlay h3{margin-top:60px; padding:0px; text-align:center; background:#f67c3d; width:80%;height: 40px; line-height:40px; color:#fff;animation: alternate linear .4s hover-h3; animation-delay:.4s}
.gallery i{ background:url(../images/x.png) no-repeat 0% 90%;float: right;
position: absolute;left: 80%;height: 40px; width: 41px;top: 60px;}
*/
.gallery{}
.gallery .gallery-box{ width:50%; position:relative; float:left;}
.gallery .gallery-box .thumb{width:50%; position:relative; float:left; height:320px; overflow:hidden;}
.gallery .gallery-box .thumb img{width:100%; overflow:hidden; height: 100%;}
.gallery .gallery-box .thumb-content{width:50%; position:relative; float:left; background:#8bd0bd; height:320px;}
.gallery .thumb-content h3{margin-top:60px; padding:0px; text-align:center; background:#f67c3d; width:80%;height: 40px; line-height:40px; color:#fff;}
.gallery i{ background:url(../images/x.png) no-repeat 0% 90%;float: right;
position: absolute;left: 80%;height: 40px; width: 41px;top: 60px;}
.gallery .thumb-content p{ padding:40px; color:#f0f9f6; text-align:center; line-height:1.4; font-size:18px;font-weight: lighter;}

@keyframes hover-effect{
	0%{ transform:scale(0);}
	100%{ transform:scale(1);}
}
@keyframes hover-h3{
	0%{ opacity:0}
	100%{ opacity:1}
}

/* CLIENTS */
.clients{margin: 0 0 60px;}
.clients h2.title{text-align:center; margin:60px 0px 100px 00px; color:#666666; font-size:300%;}
.clients .list-group-item.box{border-width:2px;}
.clients .box{ text-align:center;}
.clients .box img{margin: -60px 0 0px;}
.clients .box h3.name{margin:10px 0; text-transform:uppercase; color:#40bac5;}
.clients .box p{line-height: 1.5; font-size: 16px; color:#7b7b7b; font-style:italic;}
/* footer */
.footer-section{}
.footer-section .social{ min-height:60px; background:#3fbac2;text-align: center; padding: 15px 15px;}
.footer-section .social a{ text-align:center; color:#3fb9c4;}
.footer-section .social a span{ background:#fff; border-radius:50%; width:30px; height:30px; padding:7px;}

.footer-section .footer-nav{}
.footer-section .footer-nav ul{ margin:0; padding:0; list-style:none;}
.footer-section .footer-nav ul li{ float:left; margin:10px 0 10px;}
.footer-section .footer-nav ul li a{ text-decoration:none; text-transform:capitalize; color:#707070; font-size:17px; border-right: 1px solid #666666;padding: 0px 10px 0px;}
.footer-section .footer-nav ul li:nth-last-child(1) a{border-right: 1px solid transparent;}
.footer-section .footer-nav ul li a:hover{}

.footer-section .footer-nav .copyright{margin-top: 10px; text-align:left; font-size:17px;color:#707070; width: 100%;display: inline-block;padding-left: 10px;}

.footer-section .payment{text-align:right; margin:10px 0 0 0;}

.back-to-top{text-align:right; margin:0 10px 10px 0}
.back-to-top a img{border-radius:4px; }

.nav-right{float: right;}
/* Responsive */
@media (max-width:991px){
	.gallery .gallery-box{width:50%;}
	.header-section .logo img{margin: 0 auto;}
	.nav-right{float: none; width:100%;}
	.nav-right ul{margin: 0 auto;}
	.list-group-item.box{margin:60px 0;}
	.big-icon .thik-border{display:none;}
	.gallery .thumb .overlay p{padding:20px;}
	.footer-section .payment{text-align:center;}
	.gallery .gallery-box{width:100%;}
	.search-section form .search-box{width:80%;}
	.header-section .primery-nav ul li{margin: 6px 30px 15px;}
}
@media (max-width:768px){
	.gallery .gallery-box{width:100%; float:none; clear:both;}
	.big-icon .thik-border{/* width:10px; height: 1200px; background:#f67c3d; margin:90px auto;*/ display:none;}
	
	/* for mobile menu */
	#navigaition{}
	#navigaition ul{position:fixed; left:0; right:0; top:0px; bottom:0; background:#fff; width:100%; z-index:9999;display: inline-table; height:100%; display:none;}
	#navigaition nav button#hide-nav{position: fixed; z-index: 999999;top: 39px; display:none;}
	#navigaition ul li{margin: 8px 15px 15px;width: 27%;border: solid 1px #f67c3d;text-align: center;height: 121px;position: relative;}
	#navigaition button#btn-s-nav{ margin:8px 0 0 40px; height: 50px;width: 75px; outline:none; display:block !important;background:#f67c3d; border:none; color:#fff;}
	#navigaition nav button#hide-nav{margin:8px 0 0 40px; height: 50px;width: 75px; outline:none; background:#f67c3d; border:none; color:#fff;}
	.header-section .primery-nav{min-height:auto;}
	a.on-mobile{position:fixed; z-index: 999999;top:35px; left:35px;  animation:showing-nav linear .3s alternate;}
	.gallery .gallery-box .thumb-content, .gallery .gallery-box .thumb{width:100%; height:350px;}
	.search-box span.larg{display:none;}
	.search-section form#search-frm input{width:100%;}
	.search-section form#search-frm .btn-submit{margin-top:30px;}
}
a.on-mobile{display:none;}
#navigaition nav button#hide-nav,  #navigaition button#btn-s-nav{display:none;}
#navigaition ul.show-nav{ display:block; animation:showing-nav linear .3s alternate; padding-top: 100px;}
#navigaition ul.hiding-nav{display:none; animation:showing-nav linear .3s alternate;}
@keyframes showing-nav{
0%{ left:200%}
75%{ transform:scale(.9); transform:rotate(3deg); left:0;}
100%{ transform:scale(1); transform:rotate(-3deg);}	
}
@media (max-width:480px){
	.header-section .top-nav ul{margin: 0 25px 0 0;}
}

@media (max-width:360px){
	.header-section .top-nav ul li{margin-left: 8px;margin-right: 7px;}
	.header-section .top-nav ul{padding: 0 0 0 30px; margin:0;}
	#navigaition ul li{width: 38%;border: solid;text-align: center;height: 116px;position: relative;}
	#navigaition ul.show-nav{padding-top: 80px;}
	#navigaition button#btn-s-nav, #navigaition nav button#hide-nav{margin: 0px 0 0 40px; height: 41px; width:50px;}
}

