body{overflow-x:hidden; background:#fff !important;}
/* header section */
.header-section{}
.header-section .top-nav{ background:#f67c3d; display:block; width:100%; min-height:40px;}
.header-section .top-nav span{display:inline-block;width: 26px;height: 24px; float:left;margin-right: 5px;}
.header-section .top-nav span.user{ background:url(../images/user.png) 0% 0% no-repeat;}
.header-section .top-nav span.login{ background:url(../images/login.png)  0% 0% no-repeat;}
.header-section .top-nav span.join-now{ background:url(../images/join-now.png)  0% 0% no-repeat;}
.header-section .top-nav ul{ list-style:none; margin:0 60px 0 0; padding:0;}
.header-section .top-nav ul li{ float:left; margin-left:15px; margin-right:15px; padding-top: 6px;}
.header-section .top-nav ul li a{ color:#fff; text-transform:uppercase; line-height:30px; text-decoration:none; outline:none;}
.header-section .top-nav ul li a:hover{}
.header-section .top-nav ul li a.active{}

.header-section .logo{margin:10px 0 0 60px;}
.header-section .primery-nav{ background:#fff; display:block; width:100%;min-height: 90px;}
.header-section .primery-nav ul{list-style:none; margin:0 36px 0 0; padding:0;}
.header-section .primery-nav ul li{float:left; margin:8px 15px 15px;}
.header-section .primery-nav ul li a{color:#363636; text-transform:uppercase; text-decoration:none; outline:none;}
.header-section .primery-nav ul li a span{display:block;width: 33px;height: 32px; margin:10px auto;}
.header-section .primery-nav ul li.h-wrk a span{background:url(../images/h-wrk.png) 0% 0% no-repeat}
.header-section .primery-nav ul li.br-job a span{background:url(../images/brws-job.png) 0% 0% no-repeat}
.header-section .primery-nav ul li.prdct a span{background:url(../images/product.png) 0% 0% no-repeat}
.header-section .primery-nav ul li.job a span{background:url(../images/job.png) 0% 0% no-repeat}
.header-section .primery-nav ul li.cart a span{background:url(../images/cart.png) 0% 0% no-repeat}

/* Banner Section */
.banner-section{}
.banner-section .banner{}
.banner-section .banner img{width:100%;}


/* search-section */
.search-section form{}
.search-section form .search-box{width:60%; margin: 0 auto;}
.search-section form#search-frm{ background:#3fbac2; min-height:100px;}
.search-section form#search-frm input{ width:87%; margin-top:30px; height:50px; border-radius:5px 0 0 05px; border:solid 2px #e8e8e8; border-bottom:none; font-size: 20px;font-style: italic; padding-left:15px; outline:none;}
.search-box span.larg{font-size:26px; color:#fff; width:13%; float:left; line-height:4; text-align:right; padding-right:10px;}
.search-section form#search-frm h3{ margin-top:40px; text-align:center; margin-right:20px;}
.search-section form#search-frm .btn-submit{height: 50px;margin-top: 7px;width: 50px; background:#f67c3d; border:2px solid #b0501e; border-left:0; border-top:0; outline:none;}
.search-section form#search-frm .btn-submit span{color:#fff;font-size: 200%;}

/* how-to-work  Section*/
.how-to-work{ border-bottom:solid 1px #e5e5e5;}
.how-to-work h2.title{text-align:center; color:#666666; text-transform:capitalize; font-size:300%; margin:60px 60px;}
.how-to-work p{ text-align:center; color:#666666;line-height: 35px;font-size: 22px;}

.how-to-work .watch-vedio{ margin:60px 60px;text-align: center;}
.how-to-work .watch-vedio button.vedio-btn{ width:180px; background:#f67c3d; padding:10px; font-size:20px; color:#fff; border:solid 5px; border-color:transparent #b0501e #b0501e #e8e8e8; outline:none;}

/* big-icon Section */
.big-icon{background:#f6f6f6; padding:60px 60px;}
.big-icon .thik-border{ width:75%; height:10px; background:#f67c3d; margin:90px auto}
.big-icon .icon-holder img{ margin:0 auto;}
.big-icon .content{margin:50px auto 60px; text-align:center;}
.big-icon .content h3{ color:#666666;}
.big-icon .content p{ line-height:22px; width:100%; margin:20px auto 20px;font-size: 18px; color:#676767;}
/* Gallery Section */
/*
.gallery{}
.gallery .gallery-box{ width:25%; height:100%;position: relative; float:left;}
.gallery .thumb img{ width:100%;}
.gallery .thumb{}
.gallery .thumb:hover .overlay{visibility:visible; animation:alternate linear .4s hover-effect;}
.gallery .thumb .overlay{width:100%; height:100%; top:0; right:0; left:0; bottom:0; background:rgba(6,187,178,1.00);position: absolute;}
.gallery .thumb .overlay p{color:#fff; text-align:center; padding-top:30px;}
.gallery .thumb .overlay h3{margin-top:60px; padding:0px; text-align:center; background:#f67c3d; width:80%;height: 40px; line-height:40px; color:#fff;animation: alternate linear .4s hover-h3; animation-delay:.4s}
.gallery i{ background:url(../images/x.png) no-repeat 0% 90%;float: right;
position: absolute;left: 80%;height: 40px; width: 41px;top: 60px;}
*/
.gallery{}
.gallery .gallery-box{ width:50%; position:relative; float:left;}
.gallery .gallery-box .thumb{width:50%; position:relative; float:left; height:320px; overflow:hidden;}
.gallery .gallery-box .thumb img{width:100%; overflow:hidden; height: 100%;}
.gallery .gallery-box .thumb-content{width:50%; position:relative; float:left; background:#8bd0bd; height:320px;}
.gallery .thumb-content h3{margin-top:60px; padding:0px; text-align:center; background:#f67c3d; width:80%;height: 40px; line-height:40px; color:#fff;}
.gallery i{ background:url(../images/x.png) no-repeat 0% 90%;float: right;
position: absolute;left: 80%;height: 40px; width: 41px;top: 60px;}
.gallery .thumb-content p{ padding:40px; color:#f0f9f6; text-align:center; line-height:1.4; font-size:18px;font-weight: lighter;}

/*@keyframes hover-effect{
	0%{ transform:scale(0);}
	100%{ transform:scale(1);}
}
@keyframes hover-h3{
	0%{ opacity:0}
	100%{ opacity:1}
}*/

/* CLIENTS */
.clients{margin: 0 0 60px;}
.clients h2.title{text-align:center; margin:60px 0px 100px 00px; color:#666666; font-size:300%;}
.clients .list-group-item.box{border-width:2px;}
.clients .box{ text-align:center;}
.clients .box img{margin: -60px 0 0px; width:96px; height:96px; border-radius:50%;}
.clients .box h3.name{margin:10px 0; text-transform:uppercase; color:#40bac5;}
.clients .box p{line-height: 1.5; font-size: 16px; color:#7b7b7b; font-style:italic;}
.nav-right{float: right;}

/* page Section */
.content-body{padding-top:50px; padding-bottom:50px; background:#f6f6f6}

/* Side Bar */
.sidebar{border:solid 1px transparent; background:#8bd0bd;}
.content-body.blog-details .sidebar{background:#fff; border:solid 1px #e8e8e8;}
.sidebar ul{ list-style:none; padding:20px 20px;}
.sidebar ul li{ margin:10px 0 10px 0;width: 100%; line-height: 34px; color:#fff;}
.sidebar ul li span{ border:solid 1px #fff; border-radius:50%; text-align:center; display:table-cell; vertical-align:middle; width:34px; height:34px; color:#fff; font-size:20px; float:left; margin-right: 12px; line-height: 34px;}

.content-body.blog-details .sidebar .sidebar-search{ padding:15px; width:100%;}
.content-body.blog-details .sidebar .sidebar-search form input[type="search"]{ width:100%; height:40px; border:solid 1px #e8e8e8; border-radius:4px; padding-left:15px; padding-right: 35px; font-size:18px;}
.content-body.blog-details .sidebar .sidebar-search form i{position:absolute;top: 23px; right: 40px;font-size: 22px; color:#030303;}
/* Recent Post sidebar */
.content-body.blog-details .sidebar .recent-post ul{list-style:none;}
.content-body.blog-details .sidebar .recent-post h2.title{text-transform:uppercase; font-weight:bold; color:#363636; padding-left:15px;}
.content-body.blog-details .sidebar .recent-post ul li{margin:0;}
.content-body.blog-details .sidebar .recent-post ul li a{color:#58c3cb; font-size:17px; text-decoration:none;}
/* Recent Post sidebar Comment */
.content-body.blog-details .sidebar .recent-comment ul{list-style:none;}
.content-body.blog-details .sidebar .recent-comment h2.title{text-transform:uppercase; font-weight:bold; color:#363636; padding-left:15px;}
.content-body.blog-details .sidebar .recent-comment ul li{margin:0;line-height: 25px;}
.content-body.blog-details .sidebar .recent-comment ul li a{color:#58c3cb; font-size:17px; text-decoration:none; color:#363636;}
.content-body.blog-details .sidebar .recent-comment ul li span{ color:#444;margin-right:1px;}
/* catagories sideBar Comment */
.content-body.blog-details .sidebar .catagory ul{list-style:url("../images/list-style.png"); padding-left:35px;}
.content-body.blog-details .sidebar .catagory h2.title{text-transform:uppercase; font-weight:bold; color:#363636; padding-left:15px;}
.content-body.blog-details .sidebar .catagory ul li{margin:0;line-height: 25px;}
.content-body.blog-details .sidebar .catagory ul li a{color:#58c3cb; font-size:17px; text-decoration:none; color:#363636; text-transform:capitalize;}
/*Recomanded Post*/
.content-body.blog-details .content.footer-content{ margin-top:40px; padding-bottom:40px; display: inline-block; width:100%;}
.content-body.blog-details .content.footer-content .blog-title h2.title{color:#333; text-transform:uppercase; font-weight:bold; font-size:150%;padding-left:15px;}
.content-body.blog-details .content.footer-content .recom-post .post{border:solid 1px #e8e8e8; -webkit-box-shadow: 2px 4px 5px -2px rgba(0,0,0,0.3);-moz-box-shadow: 2px 4px 5px -2px rgba(0,0,0,0.3);box-shadow: 2px 4px 5px -2px rgba(0,0,0,0.3);}
.content-body.blog-details .content.footer-content .recom-post .thumb-content{ padding-bottom:20px;}
.content-body.blog-details .content.footer-content .recom-post .thumb-content p{margin:0 0 20px 0; text-transform:capitalize; color:#363636; padding-bottom:20px; border:none; padding:0px 6px 0px 7px;}
.content-body.blog-details .content.footer-content .recom-post .thumb-content a{ color:#f87c32; text-decoration:none; padding:0px 6px 0px 7px;}
.content-body.blog-details .content.footer-content .recom-post .thumb h3.title{position:absolute; top:30px; background:#f67b3f; width:50%; padding:7px 10px; color:#fff; font-size:150%; height:40px;}
.content-body.blog-details .content.footer-content .recom-post .thumb span{ background:url(../images/x.png) no-repeat;    width: 30px;height: 40px;position: absolute;top: 30px;right: 38%;}
.content-body.blog-details .content.footer-content .recom-post .thumb-content h4.title{ color:#3fb9c4; text-transform:capitalize; font-size: 150%; padding:0px 6px 0px 7px;}
/* contact Form */
.contact-frm{ border:solid 1px #e8e8e8; background:#fff; padding-bottom:40px;}
.contact-frm h2.title{border-bottom:1px solid #E5E5E5; padding-top:30px; padding-bottom:20px;}
.contact-frm form{display: inline-block; margin-top:30px; padding-left:15px; width: 100%;}
.contact-frm form input, .contact-frm form textarea,  .contact-frm form select{border:solid 1px #e8e8e8; margin:10px 0 10px 0; width:60%; border-radius:3px; padding-left:15px;}
.contact-frm form input, .contact-frm form select{height:40px;}
.contact-frm form input[type="submit"]{width: 120px;height: 45px;font-size: 20px; margin-left: 25%; margin-top:30px;background: #f67c3d;padding: 10px;font-size: 20px;color: #fff;border: solid 2px;border-color: transparent #b0501e #b0501e #e8e8e8;outline: none; border-left:none; text-transform:capitalize;}
.contact-frm form input[type="checkbox"]{margin-left: 25%;display:inline-block;-webkit-appearance: none;-moz-appearance: none;-o-appearance:none;appearance: none;width:20px;height:20px; background:url(../images/checkbox.png) no-repeat 15% 5%; cursor:pointer; border:none; outline:none;}
.contact-frm form input[type="checkbox"]:checked {background:url(../images/checkbox.png) no-repeat 15% 94%;}
.contact-frm form .input-box.btn-submit{ border-bottom:1px solid #e8e8e8; margin-right:15px; padding-bottom:20px;}
.contact-frm form b{position: absolute;margin:12px 10px; text-transform:capitalize;}
.contact-frm form label{ width:25%; float:left; color:#363636; line-height: 55px;}
/* Ragistraion Page */
.content-body.registration .page-main-title h2.title{ text-align:center; border:none; text-transform:capitalize;}
.content-body.registration .contact-frm form label{ width:15%;}
.content-body.registration .contact-frm form select option{text-transform:capitalize;}
.content-body.registration .contact-frm form .input-box.end-section{ border-bottom:1px solid #e8e8e8; margin-right:15px; padding-bottom:30px;}
.content-body.registration .contact-frm form .input-box.second-section{ padding-top:30px;}
.content-body.registration .contact-frm form input[type="checkbox"]{ margin-left:15%;}
.content-body.registration .contact-frm form input[type="submit"]{ margin-left:15%;}
/* main Body */
.input-box{width:98%; padding-left:15px; padding-right:15px; overflow:hidden;}
.content-body{}
.content-body h2.title{ width:100%; border-bottom:1px solid #e8e8e8; padding-bottom:20px; color:#363636}
.content-body .content{ padding:20px; background:#fff; border:solid 1px #e8e8e8;}
.content-body .content p{ line-height:25px; font-size:17px; color:#363636; font-weight:lighter; margin-top:50px; border-bottom:1px solid #e8e8e8; padding-bottom:30px;}

/* blog page */
.blog-page-image{}
.content-body.blog-details h2.title{ color:#3fbac2; border:none;}
.content-body.blog-details .author-deatils{width:100%; inline-block; font-size:18px;}
.content-body.blog-details .author-deatils span{margin-right:6px;}
.content-body.blog-details .author-deatils .author{ width:30%; float:left;}
.content-body.blog-details .author-deatils .date{ width:40%; float:left;}
.content-body.blog-details .author-deatils .place{ width:30%; float:left;}
.content-body.blog-details .tags{display: inline-block; width:100%; position:relative; padding-top: 20px;}
.content-body.blog-details .tags span{ float:left; line-height:45px;}
.content-body.blog-details .tags ul{ list-style:none;}
.content-body.blog-details .tags ul li{ float:left; padding:5px; margin:10px 5px 0 5px; background:#f3f3f3; border:solid 1px #e8e8e8; border-radius:3px;}

/*user sing up and login*/
.content-body.sing-login .normal h2.title{ text-align:center; border:none;}
.content-body.sing-login .img-or{text-align:center;}
.content-body.sing-login .c-box{text-align:center; border:solid;}
/* footer */
.footer-section{}
.footer-section .social{ min-height:60px; background:#3fbac2;text-align: center; padding: 15px 15px;}
.footer-section .social a{ text-align:center; color:#3fb9c4;}
.footer-section .social a span{ background:#fff; border-radius:50%; width:30px; height:30px; padding:7px;}

.footer-section .footer-nav{margin: 5px 0;}
.footer-section .footer-nav ul{ margin:0; padding:0; list-style:none;}
.footer-section .footer-nav ul li{ float:left; margin:10px 0 10px;}
.footer-section .footer-nav ul li a{ text-decoration:none; text-transform:capitalize; color:#707070; font-size:17px; border-right: 1px solid #666666;padding: 0px 7px 0px;}
.footer-section .footer-nav ul li:nth-last-child(1) a{border-right: 1px solid transparent;}
.footer-section .footer-nav ul li a:hover{}

.footer-section .footer-nav .copyright{margin-top: 10px; text-align:left; font-size:17px;color:#707070; width: 100%;display: inline-block;padding-left: 10px;}

.footer-section .payment{text-align:right; margin:10px 0 0 0;}

.back-to-top{text-align:right; margin:0 10px 10px 0}
.back-to-top a img{border-radius:4px; }



/* Responsive */
@media (max-width:991px){
	.gallery .gallery-box{width:50%;}
	.header-section .logo img{margin: 0 auto;}
	.nav-right{float: none; width:100%;}
	.nav-right ul{margin: 0 auto;}
	.list-group-item.box{margin:60px 0;}
	.big-icon .thik-border{display:none;}
	.gallery .thumb .overlay p{padding:20px;}
	.footer-section .payment{text-align:center;}
	.gallery .gallery-box{width:100%;}
	.search-section form .search-box{width:80%;}
	.header-section .primery-nav ul li{margin: 6px 30px 15px;}
}
@media (max-width:768px){
	.gallery .gallery-box{width:100%; float:none; clear:both;}
	.big-icon .thik-border{/* width:10px; height: 1200px; background:#f67c3d; margin:90px auto;*/ display:none;}
	
	/* for mobile menu */
	#navigaition{}
	#navigaition ul{position:fixed; left:0; right:0; top:0px; bottom:0; background:#fff; width:100%; z-index:9999;display: inline-table; height:100%; display:none;}
	#navigaition nav button#hide-nav{position: fixed; z-index: 999999;top: 39px; display:none;}
	#navigaition ul li{margin: 8px 15px 15px;width: 27%;border: solid 1px #f67c3d;text-align: center;height: 121px;position: relative;}
	#navigaition button#btn-s-nav{ margin:8px 0 0 40px; height: 50px;width: 75px; outline:none; display:block !important;background:#f67c3d; border:none; color:#fff;}
	#navigaition nav button#hide-nav{margin:8px 0 0 40px; height: 50px;width: 75px; outline:none; background:#f67c3d; border:none; color:#fff;}
	.header-section .primery-nav{min-height:auto;}
	a.on-mobile{position:fixed; z-index: 999999;top:35px; left:35px;  animation:showing-nav linear .3s alternate;}
	.gallery .gallery-box .thumb-content, .gallery .gallery-box .thumb{width:100%; height:350px;}
	.search-box span.larg{display:none;}
	.search-section form#search-frm input{width:100%;}
	.search-section form#search-frm .btn-submit{margin-top:30px;}
	.contact-frm form label, .content-body.registration .contact-frm form label{width:100%; display:block; line-height: normal;}
	.contact-frm form input, .contact-frm form textarea,  .contact-frm form select{width:100%;}
	.content-body.registration .contact-frm form input[type="checkbox"], .content-body.registration .contact-frm form input[type="submit"]{margin:0;}
	.contact-frm form .input-box, .sidebar{margin-top:15px;}
	.contact-frm form b{margin: 0px 10px;}
}
@keyframes showing-nav{
0%{ left:200%}
75%{ transform:scale(.9); transform:rotate(3deg); left:0;}
100%{ transform:scale(1); transform:rotate(-3deg);}	
}
@media (max-width:480px){
	.header-section .top-nav ul{margin: 0 25px 0 0;}
}

@media (max-width:360px){
	.header-section .top-nav ul li{margin-left: 8px;margin-right: 7px;}
	.header-section .top-nav ul{padding: 0 0 0 30px; margin:0;}
	#navigaition ul li{width: 38%;border: solid;text-align: center;height: 116px;position: relative;}
	#navigaition ul.show-nav{padding-top: 80px;}
	#navigaition button#btn-s-nav, #navigaition nav button#hide-nav{margin: 5px 0 0 40px; height: 41px; width:50px;}
}
/*   Extra   */
.padd0{padding:0;}
.normal{width:100%; display:inline-block;}
star{color:#f67c3d;font-size: 20px;}
a.on-mobile{display:none;}
a.on-mobile img{width:70%;}
#navigaition nav button#hide-nav,  #navigaition button#btn-s-nav{display:none;}
#navigaition ul.show-nav{ display:block; animation:showing-nav linear .3s alternate; padding-top: 100px;}
#navigaition ul.hiding-nav{display:none; animation:showing-nav linear .3s alternate;}